<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel = "icon" type = "image/png" href = "assets/images/briefcase.png">
    
		<!--ICONS-->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css"
		/>
		<!-- Font Awesome CSS -->
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		/>
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&family=Roboto&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="assets/css/styles.css" />
		<title>HireIN | Register</title>
	</head>
	<body class="hire-login p-5">
		<div class="container reg-container py-5">
			<div class="row mx-2 justify-content-md-center">
				<div class="col home-col home-r-col d-md-block d-none">
					<div class="mt-5">
						<div class="Sub-Chapters">
							<div class="subChp-title mx-3 mb-2 text-center">
								HireIN
							</div>
							<p class="subChp-text mx-3 p-2 text-justify">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias facere saepe ducimus earum consequuntur at eligendi necessitatibus consequatur dolorum nisi, maiores, aspernatur a quas sunt quidem, pariatur magni ex ullam.
							</p>
							<div class="subChp-title mx-3 mb-2 text-center">
								HireExplore
							</div>
							<p class="subChp-text mx-3 p-2 text-justify">
								Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos architecto laudantium incidunt, fugit eaque impedit eos dolores labore soluta odit dolore dolorem dolorum! Amet reiciendis ratione eum, incidunt aspernatur nesciunt?
							</p>
							<div class="subChp-title mx-3 mb-2 text-center">
								HireNow
							</div>
							<p class="subChp-text mx-3 p-2 text-justify">
								Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam molestiae minima sapiente sunt quasi facilis? Reprehenderit explicabo fuga, distinctio, eum dolores natus libero autem quasi eligendi recusandae nihil!
							</p>
							<div class="subChp-title mx-3 mb-2 text-center">
							    HirePrep
							</div>
							<p class="subChp-text mx-3 p-2 text-justify">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, quos aspernatur Qui quo illo consequatur quas?
							</p>
						</div>
					</div>
				</div>
				<div class="col home-col home-l-col">
					<div class="my-3">
						<form id="reg-form" action="/"  target="_blank" class="p-4 signup-form">
							<div class="pb-3 text-center form-title">
								<h4>HireIN Register</h4>
							</div>
							<div class="form-group">
								<label
								for="exampleInputPassword1"
								class="hire-login-subtitle"
								>Name :</label
							>
								<input
									type="name"
									class="form-control"
									required
									id="name"
									placeholder=""
								/>
							</div>
							<div class="form-group pt-3">
								<label
								for="exampleInputPassword1"
								class="hire-login-subtitle"
								>Email :</label
							>
								<input
									type="email"
									class="form-control"
									required
									id="email"
									placeholder=""
								/>
							</div>
							<div class="form-group pt-3">
								<label
								for="exampleInputPassword1"
								class="hire-login-subtitle"
								>College:</label
							>
								<input
									type="clgname"
									class="form-control"
									required
									id="college"
									placeholder=""
								/>
							</div>
							<div class="form-group row pt-3">
								<div class="col-6 col-sm-6">
									<label
									for="exampleInputPassword1"
									class="hire-login-subtitle"
									>Branch :</label
								>
									<input
										type="branch"
										class="form-control"
										required
										id="branch"
										placeholder=""
									/>
								</div>
								<div class="col-6 col-sm-6">
									<label
									for="exampleInputPassword1"
									class="hire-login-subtitle"
									>Year of Study :</label
								>
									<input
										type="year"
										class="form-control"
										required
										id="year"
										placeholder=""
									/>
								</div>
							</div>
							<div class="form-group pt-3">
								<label
								for="exampleInputPassword1"
								class="hire-login-subtitle"
								>Contact Number :</label
							>
								<input
									type="contact"
									class="form-control"
									required
									id="contact"
									placeholder=""
								/>
							</div>
							<div class="form-group pt-3">
								<label
								for="exampleInputPassword1"
								class="hire-login-subtitle"
								>Password :</label
							>
								<input
									type="password"
									class="form-control"
									required
									id='password'
									placeholder=""
								/>
							</div>
							<div class="form-group pt-3">
								<label
								for="exampleInputPassword1"
								class="hire-login-subtitle"
								> Confirm Password :</label
							>
								<input
									type="password"
									class="form-control"
									required
									id="confirm"
									placeholder=""
								/>
							</div>
							<div class="d-grid gap-2 pb-2 pt-2 text-center">
								<input
									type="submit"
									value="Register"
									class="
                                    hire-login-submit p-2 w-100
										btn btn-round
										login-button
										text-white
									"
							    />
					
							</div>
							<div
								class=" justify-content-center py-1"
							>
								<div class="signup-section text-center pb-0">
									Already a member?
									<a href="/" class="text-success"> Sign In!</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="assets/script.js"></script>
	</body>
</html>
