.e30_82 { 
	overflow:hidden;
}
.e30_82 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:2148px;
	position:absolute;
}
.e30_84 { 
	width:1440px;
	height:113px;
	position:absolute;
	left:0px;
	top:0px;
}
.e30_85 { 
	background-color:rgba(66.00000366568565, 144.00000661611557, 88.00000235438347, 1);
	width:1440px;
	height:113px;
	position:absolute;
	left:0px;
	top:0px;
}
.e30_86 { 
	color:rgba(255, 255, 255, 1);
	width:135px;
	height:55px;
	position:absolute;
	left:58px;
	top:29px;
	font-family:Roboto;
	text-align:left;
	font-size:47px;
	letter-spacing:0;
}
.e30_87 { 
	color:rgba(255, 255, 255, 1);
	width:184px;
	height:41px;
	position:absolute;
	left:571px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e30_88 { 
	color:rgba(255, 255, 255, 1);
	width:136px;
	height:41px;
	position:absolute;
	left:855px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e30_89 { 
	color:rgba(255, 255, 255, 1);
	width:140px;
	height:41px;
	position:absolute;
	left:1106px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e30_90 { 
	width:73px;
	height:73px;
	position:absolute;
	left:1322px;
	top:20px;
}
.e30_91 { 
	border-radius:500px;
	background-color:rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 0);
	width:73px;
	height:73px;
	position:absolute;
	left:0px;
	top:0px;
}
.e30_91 { 
	border:4px solid rgba(255, 255, 255, 1);
}
.e30_92 { 
	width:45px;
	height:45px;
	position:absolute;
	left:14px;
	top:12px;
}
.e30_93 { 
	border:4px solid rgba(255, 255, 255, 1);
}
.e30_93 { 
	width:29.999996185302734px;
	height:11.25px;
	position:absolute;
	left:7.5000104904174805px;
	top:28.125px;
}
.e30_94 { 
	border:4px solid rgba(255, 255, 255, 1);
}
.e30_94 { 
	width:15.00000286102295px;
	height:15px;
	position:absolute;
	left:14.99998950958252px;
	top:5.625px;
}
.e30_97 { 
	width:1440px;
	height:211px;
	position:absolute;
	left:0px;
	top:1937px;
}
.e30_98 { 
	background-color:rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
	width:1440px;
	height:211px;
	position:absolute;
	left:0px;
	top:0px;
}
.e30_99 { 
	background-color:rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
	width:1440px;
	height:211px;
	position:absolute;
	left:0px;
	top:0px;
}
.e30_100 { 
	color:rgba(255, 255, 255, 1);
	width:128px;
	height:53px;
	position:absolute;
	left:648px;
	top:25px;
	font-family:Roboto;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e30_101 { 
	color:rgba(255, 255, 255, 1);
	width:234px;
	height:38px;
	position:absolute;
	left:603px;
	top:101px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e30_102 { 
	width:36px;
	height:36px;
	position:absolute;
	left:709px;
	top:162px;
}
.e30_103 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e30_103 { 
	width:30px;
	height:30px;
	position:absolute;
	left:3px;
	top:3px;
}
.e30_104 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e30_104 { 
	width:12.000012397766113px;
	height:12.000011444091797px;
	position:absolute;
	left:12.064867973327637px;
	top:11.935123443603516px;
}
.e30_105 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e30_105 { 
	width:0.0149993896484375px;
	height:0px;
	position:absolute;
	left:26.25px;
	top:9.75px;
}
.e30_106 { 
	width:36px;
	height:36px;
	position:absolute;
	left:766px;
	top:162px;
}
.e30_107 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e30_107 { 
	width:33px;
	height:26.9155216217041px;
	position:absolute;
	left:1.5px;
	top:4.4849395751953125px;
}
.e30_108 { 
	width:36px;
	height:36px;
	position:absolute;
	left:651px;
	top:162px;
}
.e30_109 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e30_109 { 
	width:30px;
	height:24px;
	position:absolute;
	left:3px;
	top:6px;
}
.e30_110 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e30_110 { 
	width:30px;
	height:10.5px;
	position:absolute;
	left:3px;
	top:9px;
}
.e32_36 { 
	width:304px;
	height:79px;
	position:absolute;
	left:721px;
	top:435px;
}
.e32_25 { 
	background-color:rgba(255, 255, 255, 1);
	width:304px;
	height:79px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e32_25 { 
	border:3px solid rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
}
.e32_29 { 
	color:rgba(0, 0, 0, 1);
	width:140px;
	height:38px;
	position:absolute;
	left:82px;
	top:20px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e32_37 { 
	width:304px;
	height:79px;
	position:absolute;
	left:837px;
	top:113px;
}
.e32_26 { 
	background-color:rgba(255, 255, 255, 1);
	width:304px;
	height:79px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e32_26 { 
	border:3px solid rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
}
.e32_30 { 
	color:rgba(0, 0, 0, 1);
	width:205px;
	height:38px;
	position:absolute;
	left:55px;
	top:20px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e32_34 { 
	width:304px;
	height:79px;
	position:absolute;
	left:41px;
	top:435px;
}
.e32_23 { 
	background-color:rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
	width:304px;
	height:79px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e32_23 { 
	border:3px solid rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
}
.e32_27 { 
	color:rgba(255, 255, 255, 1);
	width:205px;
	height:38px;
	position:absolute;
	left:51px;
	top:20px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e32_35 { 
	width:304px;
	height:79px;
	position:absolute;
	left:381px;
	top:435px;
}
.e32_24 { 
	background-color:rgba(255, 255, 255, 1);
	width:304px;
	height:79px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e32_24 { 
	border:3px solid rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
}
.e32_28 { 
	color:rgba(0, 0, 0, 1);
	width:191px;
	height:38px;
	position:absolute;
	left:51px;
	top:20px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e32_31 { 
	background-color:rgba(255, 255, 255, 1);
	width:1236px;
	height:284px;
	position:absolute;
	left:122px;
	top:664px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e32_31 { 
	border:4px solid rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
}
.e32_32 { 
	background-color:rgba(255, 255, 255, 1);
	width:1236px;
	height:284px;
	position:absolute;
	left:122px;
	top:1098px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e32_32 { 
	border:3px solid rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
}
.e32_33 { 
	background-color:rgba(255, 255, 255, 1);
	width:1236px;
	height:284px;
	position:absolute;
	left:122px;
	top:1532px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e32_33 { 
	border:3px solid rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
}
.e32_38 { 
	color:rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
	width:262px;
	height:51px;
	position:absolute;
	left:593px;
	top:172px;
	font-family:Roboto;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e32_39 { 
	transform: rotate(9.93923337957349e-17deg);
	width:326.038330078125px;
	height:0px;
	position:absolute;
	left:547px;
	top:240px;
}
.e32_39 { 
	border:4px solid rgba(80.00000283122063, 200.00000327825546, 118.00000056624413, 1);
}
.e32_40 { 
	background-color:rgba(255, 255, 255, 1);
	width:954px;
	height:78px;
	position:absolute;
	left:382px;
	top:304px;
	border-top-left-radius:35px;
	border-top-right-radius:35px;
	border-bottom-left-radius:35px;
	border-bottom-right-radius:35px;
}
.e32_40 { 
	border:4px solid rgba(80.00000283122063, 200.00000327825546, 118.00000056624413, 1);
}
.e32_41 { 
	color:rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
	width:221px;
	height:42px;
	position:absolute;
	left:106px;
	top:322px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e32_43 { 
	width:347px;
	height:248px;
	position:absolute;
	left:143px;
	top:682px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e32_45 { 
	width:200px;
	height:163px;
	position:absolute;
	left:317px;
	top:723px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e32_47 { 
	width:200px;
	height:170px;
	position:absolute;
	left:360px;
	top:1155px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e32_49 { 
	width:340px;
	height:195px;
	position:absolute;
	left:150px;
	top:1142px;
	background-image:url(images/image_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e32_51 { 
	width:340px;
	height:195px;
	position:absolute;
	left:147px;
	top:1576px;
	background-image:url(images/image_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e32_53 { 
	width:200px;
	height:228px;
	position:absolute;
	left:360px;
	top:1560px;
	background-image:url(images/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e32_54 { 
	color:rgba(0, 0, 0, 1);
	width:322px;
	height:42px;
	position:absolute;
	left:630px;
	top:714px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e32_59 { 
	color:rgba(0, 0, 0, 1);
	width:475px;
	height:42px;
	position:absolute;
	left:630px;
	top:1158px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e32_67 { 
	color:rgba(0, 0, 0, 1);
	width:475px;
	height:42px;
	position:absolute;
	left:630px;
	top:1578px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e32_60 { 
	color:rgba(0, 0, 0, 1);
	width:590px;
	height:42px;
	position:absolute;
	left:630px;
	top:1220px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e32_68 { 
	color:rgba(0, 0, 0, 1);
	width:108px;
	height:42px;
	position:absolute;
	left:630px;
	top:1639px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e32_55 { 
	color:rgba(0, 0, 0, 1);
	width:233px;
	height:42px;
	position:absolute;
	left:630px;
	top:784px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e32_75 { 
	color:rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
	width:149px;
	height:32px;
	position:absolute;
	left:1180px;
	top:682px;
	font-family:Roboto;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e32_79 { 
	color:rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
	width:149px;
	height:32px;
	position:absolute;
	left:1188px;
	top:1117px;
	font-family:Roboto;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e32_83 { 
	color:rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
	width:149px;
	height:32px;
	position:absolute;
	left:1189px;
	top:1545px;
	font-family:Roboto;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e32_56 { 
	width:248px;
	height:63px;
	position:absolute;
	left:1049px;
	top:854px;
}
.e32_57 { 
	background-color:rgba(255, 255, 255, 1);
	width:248px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e32_57 { 
	border:3px solid rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
}
.e32_58 { 
	color:rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
	width:94px;
	height:38px;
	position:absolute;
	left:77px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e32_61 { 
	width:248px;
	height:63px;
	position:absolute;
	left:1049px;
	top:1293px;
}
.e32_62 { 
	background-color:rgba(255, 255, 255, 1);
	width:248px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e32_62 { 
	border:3px solid rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
}
.e32_63 { 
	color:rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
	width:94px;
	height:38px;
	position:absolute;
	left:77px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e32_64 { 
	width:248px;
	height:63px;
	position:absolute;
	left:1065px;
	top:1725px;
}
.e32_65 { 
	background-color:rgba(255, 255, 255, 1);
	width:248px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e32_65 { 
	border:3px solid rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
}
.e32_66 { 
	color:rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
	width:94px;
	height:38px;
	position:absolute;
	left:77px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e32_69 { 
	width:50px;
	height:50px;
	position:absolute;
	left:1249px;
	top:316px;
}
.e32_70 { 
	border:4px solid rgba(80.00000283122063, 200.00000327825546, 118.00000056624413, 1);
}
.e32_70 { 
	width:33.333335876464844px;
	height:33.333335876464844px;
	position:absolute;
	left:6.25px;
	top:6.25px;
}
.e32_71 { 
	border:4px solid rgba(80.00000283122063, 200.00000327825546, 118.00000056624413, 1);
}
.e32_71 { 
	width:9.0625px;
	height:9.0625px;
	position:absolute;
	left:34.68739318847656px;
	top:34.68749237060547px;
}
.e32_72 { 
	width:40px;
	height:40px;
	position:absolute;
	left:1126px;
	top:678px;
}
.e32_73 { 
	border:4px solid rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
}
.e32_73 { 
	width:33.333335876464844px;
	height:33.333335876464844px;
	position:absolute;
	left:3.3333334922790527px;
	top:3.3333334922790527px;
}
.e32_74 { 
	border:4px solid rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
}
.e32_74 { 
	width:6.666667938232422px;
	height:13.333332061767578px;
	position:absolute;
	left:20px;
	top:10px;
}
.e32_76 { 
	width:40px;
	height:40px;
	position:absolute;
	left:1133px;
	top:1112px;
}
.e32_77 { 
	border:4px solid rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
}
.e32_77 { 
	width:33.333335876464844px;
	height:33.333335876464844px;
	position:absolute;
	left:3.3333334922790527px;
	top:3.3333334922790527px;
}
.e32_78 { 
	border:4px solid rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
}
.e32_78 { 
	width:6.666667938232422px;
	height:13.333332061767578px;
	position:absolute;
	left:20px;
	top:10px;
}
.e32_80 { 
	width:40px;
	height:40px;
	position:absolute;
	left:1142px;
	top:1540px;
}
.e32_81 { 
	border:4px solid rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
}
.e32_81 { 
	width:33.333335876464844px;
	height:33.333335876464844px;
	position:absolute;
	left:3.3333334922790527px;
	top:3.3333334922790527px;
}
.e32_82 { 
	border:4px solid rgba(11.000000294297934, 102.00000151991844, 35.00000171363354, 1);
}
.e32_82 { 
	width:6.666667938232422px;
	height:13.333332061767578px;
	position:absolute;
	left:20px;
	top:10px;
}
