.hire-login{
    background: linear-gradient(270deg, rgba(11, 102, 35, 0.8) 0%, rgba(80, 200, 118, 0.8) 100%);
    
}
.hire-login-container{
    background: rgba(255, 255, 255, 0.45);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    width:400px;
}
.hire-login-title{
    color: #0B6623;

}
.hire-login-subtitle{
    color: #0B6623;
}
.hire-login-submit{
    background: #0B6623;
border-radius: 10px;
color:#ffffff;
border: none;

}

@media screen and (max-width:480px){
    .hire-login-container{
        width: 250px;
    }
    
}
@media screen and (max-width:280px) {
    .hire-login-container{
        width: 200px;
    }
    
}

.achievement-cards {
	/* background-color: #ffffff; */
	/* margin: 10px; */
	height: 500px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.41);
	border-radius: 10px;
    border: 5px solid #0B6623 ;
   

	/* box-shadow: ; */
}
.eas-service{
    background: rgba(154, 253, 124, 0.8);
  
}

.contact-bg {
	background: linear-gradient(rgba(22, 22, 22, 0.1), rgba(100, 99, 99, 0.3)),
		url('../images/backgruond-events.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.contact-box {
	background-color: white;
}
.half-circle {
	clip-path: ellipse(99% 55% at 100% 10%);
	width: 130px;
	height: 130px;
	float: right;
	background-color: #e85c41;
}
@media (max-width: 350px) {
	.half-circle {
		width: 110px;
		height: 110px;
	}
}
.contact-head {
	padding-left: 60px;
	font-family: 'Roboto';
}
.input-space {
	border: none;
	border-bottom: 1px solid #000000;
	outline: none;
	background: transparent;
	width: 100%;
}
.input-space:focus {
	transition: ease text-indent 0.3s 0.3s;
	text-indent: -50%;
	opacity: 1;
}
.input-space:hover {
	color: #ce5841;
	border-color: #ce5841;
}
.submit-contact {
	font-family: 'Roboto';
	display: inline-flex;
	background: #ce5841;
	text-decoration: none;
	cursor: pointer;
	color: white;
	border: 1px solid #ce5841;
}
.submit-contact:hover {
	outline-offset: -3px;
	outline: 2px solid white;
	border: 2px solid #ce5841;
	transition: all 150ms;
}
.contact-vertical {
	border-left: thin solid #ff0000;
}
.contact-r-text {
	font-family: 'Roboto';
}